# Substitua com a URL do seu projeto Supabase (Encontrada em Project Settings > API)
VITE_SUPABASE_URL=

# Substitua com a chave anônima do seu projeto Supabase (Encontrada em Project Settings > API > anon/public key)
VITE_SUPABASE_ANON_KEY= 